<section>
    <div class="heading">
        <div class="h1">
            <h1>
                The Training

            </h1>
        </div>
        <div class="h3">
            <h3>
                BEST SELLING WORKOUT PROGRAMS & ROUTINES

            </h3>
        </div>
        <div class="p">
            <p>
                Each of our best selling training programs are designed to help you build a ripped, athletic body with the latest science-based workouts. No matter your fitness goal, our best sellers can turn those into real results. Transform your physique with the confidence and join others who have done the same by choosing the program that is right for you.

            </p>
        </div>
    </div>
    <article>
        <app-program-items ></app-program-items>
    </article>
</section>