<footer>
    <div class="terms">
        <div class="div">
            <div class="heading">
                <h1>contact us</h1>
            </div>
            <ul class="contact">
                <li>
                    <div class="i">
                        <i class="fas fa-phone"></i>
                    </div>
                    <p>012 288888</p>
                </li>
                <li>
                    <div class="i">
                        <i class="fas fa-envelope"></i>
                    </div>
                    <p>mail@gmail.com</p>
                </li>
                <li>
                    <div class="i">
                        <i class="fas fa-map-marker-alt"></i>
                    </div>
                    <p>Street Avenue 22</p>
                </li>
                
            </ul>
        </div>
        <div class="div">
            <div class="heading">
                <h1>Our Mobile App</h1>
            </div>
            <ul class="contact">
                <li>
                    <img src="./assets/app.png" alt="">
                        
                </li>
                <li>
                    <img src="./assets/google.png" alt="">
        
                </li>
                
            </ul>
        </div>
        <div class="div">
            <div class="heading">
                <h1>About Us</h1>
            </div>
            <ul class="contact">
                <li>
                    SHOP TRAINING
                </li>
                <li>
                    SHOP SUPPLEMENTS
                </li>
                <li>
                    SUPPORT CENTER

                </li>
                <li>
                    SHOP GEAR
                </li>
                <li>
                    Top Guides
                </li>
            </ul>
        </div>
        <div class="div">
            <div class="heading">
                <h1>Privacy</h1>
            </div>
            <ul class="contact">
                <li>
                    Privacy Policy
                </li>
                <li>
                    Terms of Use
                </li>
                <li>
                    Service

                </li>
                <li>
                    Account Safety
                </li>
            </ul>
        </div>
    </div>
    <div class="web">
        <div class="icon">
            <div class="i">
                <i class="fab fa-facebook"></i>
            </div>
            <div class="i">
                <i class="fab fa-telegram"></i>
            </div>
            <div class="i">
                <i class="fab fa-pinterest"></i>
            </div>
        </div>
        <div class="copyright">
            2021 © gym.com. All rights reserved.
        </div>
    </div>
    <div class="last">
        <div class="p">
            <p>
                Our Training System™ is registered trademarks and may not be copied or used for any purpose without express written consent. A Sports Performance Factory LLC Production – Copyright ©MMXVIII Sports Performance Factory LLC P.O. Box 5054 Westport, CT. 06881 (012-288888)The materials and content contained in this website, products, emails, messages, or consulting are for general health information only and are not intended to be a substitute for professional medical advice, diagnosis or treatment.
            </p>
            <p>
                We are committed to providing you our visitor/user with a safe and reliable website experience. Our Coaches ( owner of Sports Performance Factory LLC) and staff have conducted all steps possible to verify the testimonials and reviews that appear on this site. That said, as with all fitness programs, the best results are not uncommonly correlated with the best efforts, discipline, diligence, and so on, and therefore the results depicted and featured cannot be construed as common, typical, expected, normal, or associated with the average user’s experience. Results, as always, will vary from individual to individual for these reasons and you are responsible for understanding that atypical outcomes may not reflect your experience.
            </p>
        </div>
        <div class="img">
            <i class="fas fa-dumbbell"></i>
        </div>
    </div>
</footer>