/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Big Shoulders Text', cursive;
    background-repeat: no-repeat;
}

body{
    background-color: lightgray;
}